<!-- alerts_analytics.html -->
{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Select Region and Time Period</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="regionSelect">Region:</label>
            <select id="regionSelect" name="regionid" class="form-control">
                {% for region in regions %}
                    <option value="{{ region.regionid }}">{{ region.regionname }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="date" id="startDate" name="startdate" class="form-control">
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="date" id="endDate" name="enddate" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get Analytics</button>
    </form>

    {% if count is not None %}
    <div class="mt-4">
        <h3>Analytics Results</h3>
        <p><strong>Count:</strong> {{ count }}</p>
        <p><strong>Average Duration (minutes):</strong> {{ average_duration }}</p>
        <p><strong>Maximum Duration (minutes):</strong> {{ max_duration }}</p>
    </div>
    {% endif %}
    {% if alerts %}
    <div class="mt-4">
        <h3>List of Alerts in Selected Period</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Continuing</th>
                </tr>
            </thead>
            <tbody>
                {% for alert in alerts %}
                <tr>
                    <td>{{ alert.starttime }}</td>
                    <td>{{ alert.endtime }}</td>
                    <td>{{ alert.duration}}</td>
                    <td>{{ alert.iscontinue|yesno:"Yes,No" }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
