{% extends "base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Оберіть регіон та проміжок часу</h2>
    <form method="post" id="analyticsForm">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="regionSelect">Регіон:</label>
                    {% if selected_region %}
                        <span style="height: 10px; width: 10px; border-radius: 50%; display: inline-block; background-color: {% if active_alerts %}red{% else %}green{% endif %};"></span>
                        <span>{{ region_name }}</span>
                    {% endif %}
                    <select id="regionSelect" name="regionid" class="form-control">
                        {% for region in regions %}
                        <option value="{{ region.regionid }}" {% if selected_region == region.regionid|stringformat:"s" %}selected{% endif %}>{{ region.regionname }}</option>
                        {% endfor %}
                    </select>
                    
                </div>
                <div class="form-group">
                    <label for="startDate">Початкова дата:</label>
                    <input type="date" id="startDate" name="startdate" class="form-control" value="{{ start_date }}">
                </div>
                <div class="form-group">
                    <label for="endDate">Кінцева дата:</label>
                    <input type="date" id="endDate" name="enddate" class="form-control" value="{{ end_date }}">
                </div>
                <button type="submit" class="btn btn-primary">Проаналізувати</button>
                <button type="button" class="btn btn-secondary" onclick="setForAllTime()">За весь час</button>
            </div>
            <div class="col-md-6">
                {% if alerts %}
                <div style="max-height: 250px; overflow-y: auto;">
                    <h4>Список тривог</h4>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Початок</th>
                                <th>Кінець</th>
                                <th>Тривалість</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alert in alerts %}
                            <tr>
                                <td>{{ alert.starttime }}</td>
                                <td>{{ alert.endtime }}</td>
                                <td>{{ alert.duration }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </form>

    <div class="container mt-4">
        <div class="row">
            <!-- Left side content -->
            <div class="col-md-6">
                <h3>Кількість тривог та тривалість</h3>
                <p><strong>Кількість:</strong> {{ count }}</p>
                <p><strong>Середня тривалість:</strong> {{ average_duration }}</p>
                <p><strong>Максимальна тривалість:</strong> {{ max_duration }}</p>
            </div>
            
            <!-- Right side content -->
            {% if weekly_frequency_all_time %}
            <div class="col-md-6">
                <h3>Тижнева частота тривог</h3>
                <p><strong>За весь час:</strong> {{ weekly_frequency_all_time }}</p>
                <p><strong>За останній місяць:</strong> {{ weekly_frequency_last_month }}</p>
                <p><strong>За останній тиждень:</strong> {{ weekly_frequency_last_week }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="mt-4">
        <h3>Гістограма кількості тривог</h3>
        <button id="btnHour" class="btn btn-secondary" onclick="updateChart('hour')">За годинами дня</button>
        <button id="btnWeekday" class="btn btn-secondary" onclick="updateChart('weekday')">За днями тижня</button>
    </div>

    <div class="mt-4">
        <canvas id="hourOfDayChart" style="display: none;"></canvas>
        <canvas id="dayOfWeekChart" style="display: none;"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    function setForAllTime() {
        document.getElementById('startDate').value = '2022-02-24';  // Set the start date
        document.getElementById('endDate').value = new Date().toISOString().slice(0, 10);  // Set today's date
        document.getElementById('analyticsForm').submit();  // Submit the form
    }

    document.getElementById('btnHour').addEventListener('click', function() {
        updateChart('hour');
    });
    document.getElementById('btnWeekday').addEventListener('click', function() {
        updateChart('weekday');
    });

    function updateChart(chartType) {
        var hourCanvas = document.getElementById('hourOfDayChart');
        var weekCanvas = document.getElementById('dayOfWeekChart');

        // Hide all canvases first
        hourCanvas.style.display = 'none';
        weekCanvas.style.display = 'none';

        // Determine which canvas to show and update
        var ctx = (chartType === 'hour' ? hourCanvas : weekCanvas).getContext('2d');
        (chartType === 'hour' ? hourCanvas : weekCanvas).style.display = 'block';

        if (window.myChart) {
            window.myChart.destroy();
        }
        window.myChart = new Chart(ctx, {
            type: 'bar',
            data: getChartData(chartType),
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    function getChartData(chartType) {
        // Placeholder for actual data fetching logic
        return chartType === 'hour' ? {
            labels: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23'],
            datasets: [{
                label: 'Тривоги за годинами дня',
                data: {{ hour_counts_list|safe }},
                backgroundColor: 'rgba(54, 162, 235, 0.5)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        } : {
            labels: ['Пн', 'Вт', 'Ср', 'Чр', 'Пт', 'Сб', 'Нд'],
            datasets: [{
                label: 'Тривоги за днями тижня',
                data: [ {{ weekday_counts.2|default:"0" }},
                        {{ weekday_counts.3|default:"0" }},
                        {{ weekday_counts.4|default:"0" }},
                        {{ weekday_counts.5|default:"0" }},
                        {{ weekday_counts.6|default:"0" }},
                        {{ weekday_counts.7|default:"0" }},
                        {{ weekday_counts.1|default:"0" }},
                    ],
                backgroundColor: 'rgba(255, 99, 132, 0.5)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
            }]
        };
    }

    // Initialize default view
    document.addEventListener('DOMContentLoaded', function() {
        updateChart('hour');  // Default to "Hour of the Day"
    });
</script>
    
    
    <button type="submit" class="btn btn-primary" id="analyzeButton" style="margin-top: 20px">Отримати аналіз від ШІ</button>
    <div id="analysisResult" style="margin-top: 20px; margin-bottom: 20px; padding: 15px; background-color: #f8f9fa; border: 1px solid #e9ecef; border-radius: 5px;">
        <h4>Результати аналізу</h4>
        <p id="chatGptContent">Результати з'являться тут після аналізу ...</p>
    </div>
    <script>
    document.getElementById('analyzeButton').addEventListener('click', function() {
        var data = {
            'date': '{{ today }}',
            'region_name': '{{ region_name }}',
            'active_alerts': '{{ active_alerts }}',
            'weekly_frequency_all_time': '{{ weekly_frequency_all_time }}',
            'weekly_frequency_last_month': '{{ weekly_frequency_last_month }}',
            'weekly_frequency_last_week': '{{ weekly_frequency_last_week }}',
            'weekday_counts': '{{ weekday_counts }}',
            'hour_counts': '{{ hour_counts_list }}'
        };
        fetch('{% url 'get_chatgpt_analysis' %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('analysisResult').textContent = data.chatgpt_report;
        })
        .catch(error => console.error('Error:', error));
    });
    </script>
    
{% endblock %}
